<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

    <main>
      <form action="/admin/add-product" method="POST" class="form-control">
        <input
          type="text"
          name="title"
          class="form-control__input"
          placeholder="add products"
        />
        <button type="submit">Add Product</button>
      </form>
    </main>
    <%- include('../includes/end.ejs') %>
