.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    padding: 15px 20px 30px 20px;
    margin-top: 30px;
    background: #f3f3f3;
    box-shadow: 0px 0.5rem 1rem rgba(193, 193, 193, 0.8);
}

.product-item {
    width: 20rem;
    max-width: 95%;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}